/* 
Page de style pour le premier site en html/css.
NSI LMD 
Sur une idée originale de Jean-Manuel Meny et Ludovic Fasquelle

*/

:root {
  --texte: #F0F4F9;
  --title: #F3AE5F;
  --barre: #014D69;
  --bkgrn1: #0B87BA;
  --bkgrn2: #5BA199;
  --bkgrn3: #BBC6C8;
  --button: #D38F5E;
}
 
html{ 
    font-size: 20px; /* taille de référence des fontes */
}

/*header{
    height: 320px;  on impose la hauteur du header pour la photo 
    background-image: url('../images/banniere_ent_5.gif');
    text-align:center;
    color: white;
    font-weight: bold;
}*/
.barreduhaut{
background-color: var(--barre);
height: 50px;
overflow: hidden;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
/*filter: blur(5px);*/
position:fixed;
top:0px;
left:0px;
right:0px;
}
.encartnames{
	margin : 0px;
	margin-left : 10px;
    font-size : 40px ;
    font-family : Ubuntu, Helvetica;
    font-weight : lighter;
    font-style : normal;
    text-decoration : none;
    font-variant : normal; 
}
a.sitename{
	color: var(--texte);
    font-size : 30px ;
    font-family : Ubuntu, Helvetica;
    font-weight : bold;
    font-style : normal;
    text-decoration : none;
    font-variant : normal; 
}
a.pagename{
	color: var(--texte);
    font-size : 20px ;
    font-family : Ubuntu, Helvetica;
    font-weight : normal;
    font-style : normal;
    text-decoration : none;
    font-variant : normal; 
}
.barreduhautback{
	height: 50px;
}
header{
display: inline-block;
border: 0px solid yellow;
}
nav{
padding: 0px;
margin: 0px;
margin-top: 0px;
border: 0px solid yellow;
position: right;
display: inline-block;
float: right;
}
nav ul{
	padding: 0px;
	margin : 0px;
	padding-right: 40px;
}
nav li{
	margin : 10px;
	padding: 0px;
	display: inline-block;
}
nav li a{
	color: var(--texte);
    font-size : 25px ;
    font-family : Ubuntu, Helvetica;
    font-weight : lighter;
    font-style : normal;
    text-decoration : none;
    font-variant : normal; 
}


body{
    width: 100%; /* occupe 70% de la page en largeur */
    margin: 0 auto; /* auto permet ici de centrer le body en laissant marge gauche et marge droite identiques */
}
p{                                     /* Mise en forme des paragraphes */
    color : var(--texte); 
    font-size : 18px ;
    font-family : Ubuntu, Helvetica;
    font-weight : normal;
    font-style : normal;
    text-decoration : none;
    font-variant : normal; 
}
.container {
	display: flex;
	flex-direction: row;
	height: 100%;
}
.texte {
	width: 50%;
	background: var(--bkgrn1);
}
.image {
	width: 50%;
	background: var(--bkgrn3);
}
h2{
    color : var(--title); 
    font-size : 70px ;
    font-family : Ubuntu, Helvetica;
    font-weight : bolder;
    font-style : normal;
    text-decoration : none;
    font-variant : normal;
    margin: 20px;
}
.texte:nth-of-type(2n) h2{
	text-align: left;
	margin-left: 50px;
}
.texte:nth-of-type(2n-1) h2{
	text-align: right;
	margin-right: 50px;
}

section#presentation{
   height: 100vh;
}
section#specialites{
height: 100vh;
background-image: url('../images/test.jpg');
background-color: #cccccc;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
section#orientation{
   height: 100vh;
}
section#interets{
   height: 100vh;
}
.next{
	background: var(--button);
	width: 60px;
	height: 60px;
	border-radius : 100%;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	bottom: 30px;
	transform: translate(-50%, -0%);
}
.next a{
	color: var(--texte);
    font-size : 40px ;
    font-family : Ubuntu, Helvetica;
    font-weight : bolder;
    font-style : normal;
    text-decoration : none;
    font-variant : normal;
    margin: 15px;
}
footer{
    text-align:center;
    margin: 2rem;
}
footer a{
    
    text-decoration: none;
    background-color:yellow;
    color: blue;
    border-radius: 20px;
    padding: 5px;
}
